.sidebar-container {
    min-height: 100vh;
    width: 14rem;
    background-color: var(--gray);

    a {
        color: white
    }

    &.not-active {
        width: 4rem;
        .sidebar-brand-text,
        .nav-link-label {
            display: none;
        }
        .sidebar-brand {
            padding-left: .8rem;
            padding-right: .8rem;
        }
    }
}

.sidebar-brand {
    height: 62px;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    img {
        max-width: 45px;
    }
}

.toggle-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
