<div class="navbar-nav text-white h-100">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white text-success px-4" routerLink="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="assets/images/logo.png" alt="" class="img-fluid">
        </div>
        <div class="sidebar-brand-text mx-3">Shanotes</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <div class="px-4 pt-3">
        <!-- Nav Item - Dashboard -->
        <div class="nav-item active">
            <a class="nav-link" routerLink="notes">
            <span class="d-inline-block mr-3">
                <fa-icon [icon]="notes"></fa-icon>
            </span>
                <span>Notes</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link">
            <span class="d-inline-block mr-3">
                <fa-icon [icon]="faLink"></fa-icon>
            </span>
                <span>Links</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link">
            <span class="d-inline-block mr-3">
                <fa-icon [icon]="faFile"></fa-icon>
            </span>
                <span>Files</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link">
            <span class="d-inline-block mr-3">
                <fa-icon [icon]="faBell"></fa-icon>
            </span>
                <span>Reminders</span>
            </a>
        </div>


        <div class="nav-item">
            <a class="nav-link">
            <span class="d-inline-block mr-3">
                <fa-icon [icon]="faAddressBook"></fa-icon>
            </span>
                <span>Contacts</span>
            </a>
        </div>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center">
            <button class="toggle-button d-inline-flex justify-content-center align-items-center btn btn-outline-light">
                <fa-icon [icon]="toggleSidebar"></fa-icon>
            </button>
        </div>
    </div>
</div>
