#sidebar {
    min-height: 100vh;
    width: 14rem;
    background-color: var(--green);

    a {
        color: white
    }
}

.sidebar-brand {
    height: 62px;
    text-decoration: none;
}

.toggle-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
