version: '3.7'

services:

  # =======================================
  # Services
  #   monolith:
  #     build: ./server/monolith
  #     image: &dashboard dashboard
  #     command: python manage.py runserver 0.0.0.0:8000
  # #    volumes:
  # #      - ./dashboard/backend/:/usr/src/app/
  #     ports:
  #       - 8000:8000
  #     env_file:
  #       - ./server/monolith/.env
  #     depends_on:
  #       - db

  # =======================================
  # Infrastructure
  db:
    image: postgres:12.0-alpine
    volumes:
      - ./server/db/data/:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432
    environment:
      # Add more databases divided by coma like this:
      # - POSTGRES_MULTIPLE_DATABASES=shanotes,backoffice,logger
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_MULTIPLE_DATABASES=shanotes

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - 5672:5672
      - 15672:15672

  # =======================================
  # Metrics
  # Prometheus, Consul, etc...
  prometheus:
    image: prom/prometheus:v2.21.0
    ports:
      - 9000:9090
    volumes:
      - ./server/prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml


volumes:
  prometheus-data:
