#notes {
    height: calc(100% - 70px);
}

.notes-list {
    overflow-y: auto;
    height: calc(100vh - 101px);
}

.active-link {
    background-color: var(--gray);
}

.note-link {
    display: inline-block;
    white-space: nowrap;

    &--date {
        width: 65px;
        text-align: center;
    }
    &--title {
        width: calc(100% - 65px);
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
