<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
        <div class="auth-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="mb-3">
                    <input formControlName="email"
                           placeholder="Email"
                           class="form-control form-control-sm" type="email" id="email" name="email">
                </div>

                <div class="mb-3">
                    <input formControlName="password"
                           placeholder="Password"
                           class="form-control form-control-sm" id="password" type="password">
                </div>

                <div class="d-flex">
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-info btn-sm">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>
