<div class="p-3">
    <form [formGroup]="noteForm" (onSubmit)="onSubmit()" enctype="multipart/form-data">
        <div *ngIf="note">

            <div class="mb-3 d-flex justify-content-between">
                <small style="opacity: 0.5">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                    {{ note.created_at }}
                </small>
                <button [disabled]="!noteForm.valid"
                        (click)="onSubmit()"
                        class="btn btn-sm btn-success">Save</button>
            </div>

            <div class="form-group w-100">
                <input formControlName="title"
                       type="text" name="title" id="title" class="form-control">
            </div>

            <div class="form-group">
                <textarea formControlName="content"
                          rows="10"
                          name="content" class="form-control"></textarea>
            </div>

            <ng-select
                class="text-dark"
                [items]="allTags$ | async"
                [multiple]="true"
                [closeOnSelect]="true"
                [hideSelected]="true"
                bindLabel="title"
                formControlName="tags">
            </ng-select>

        </div>
    </form>
</div>
